@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

header {
  font-family: 'Dancing Script', cursive;
}

h2, p {
  font-family: 'Nunito', sans-serif;
}

button {
  font-family: 'Nunito', sans-serif;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 3px;
  height: 30px;
}